$body-color: #333 !default;
$primary: #067EB1 !default;
$font-family-base: Roboto, -apple-system, "Helvetica Neue" !default;

$border-radius:               2px !default;
$border-radius-lg:            $border-radius;
$border-radius-sm:            $border-radius;

$input-btn-padding-y-lg:      .57rem !default;

$error-color: #FF394F !default;